[Unit]
Description=set new hostname by mac

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/etc/systemd/scripts/generate-hostname.sh

[Install]
WantedBy=multi-user.target

